{% extends "page_base.html" %}
{% block content_title %}{% endblock %}
{% block site_subtitle %}Petr Viktorin{% endblock %}
{% block menu %}
        <div id="menu">
            <div class="menu-navigation-container">
                <ul id="menu-navigation" class="menu">
                    {% for title, link, css_class in MENUITEMS_COLORFUL %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page {{ css_class }}"><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                    {% for title, link in XMENUITEMS %}
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </div> <!--/#menu-navigation-container-->
        </div><!-- /#menu -->
{% endblock %}
{% block content %}
    {% for page in pages|sort(attribute='slug') %}
        {% if page.slug.startswith('site_') %}
            <div class="hentry siteindex">
                <div class="entry-meta">
                    <div class="siteindex-image {{ 'default' if page.default_section else '' }}"
                            style="background-image: URL(images/home/{{ page.image }}-gray.png)">
                        <img src="images/home/{{ page.image }}.png" class="hover-only"></img>
                    </div>
                </div> <!-- /#entry-meta -->
                <div class="main">
                    <h2 class="entry-title">
                        {{ page.title }}
                    </h2>
                    <div class="entry-content">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock content %}
