{% extends "base.html" %}
{% block title %}{{ SITENAME }} &mdash; Tags{% endblock %}
{% block content_title %}
<div class="page-title">
    <h2><span>{{ SITENAME }}</span> – ⚑</h2>
</div>
{% endblock %}
{% block content %}
<ul class="tag-list">
{% for tag, articles in tags %}
    <li>
        <a
            href="{{ SITEURL }}/{{ tag.url }}"
            style="font-size: {{10 * ( articles | length ) + 100}}%"
        >{{ tag.name }}</a>
        <small>({{ articles | length }}) {#– {{ (articles | sort(attribute='date') | last).date.year }} #}</small>
    </li>
{% endfor %}
</ul>
{% endblock %}
